.common {
  display: block;
  margin: 0px;
  background-color: #ffffff;
}
.container {
  display: block;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  max-width: 900px;
}
.main-nav-menu {
  display: block;
  margin: 0px;
  padding: 78px 0px 104px 0px;
}
.nav-list {
  text-align: center;
  vertical-align: middle;
  list-style: none;
  margin: 0;
  padding: 0;
}
.nav-list-item {
  display: inline-block;
  margin-right: 106px;
}
.nav-list-link {
 color: #626262;
 text-transform: uppercase;
 font-family: "Playfair Display", serif;
 font-size: 14px;
 font-weight: 400;
 text-decoration: none;
}
.nav-list-link:hover {
  color: #03a9f4;
  font-weight:200;
}
.page-content {
  display: block;
  margin: 0;
  padding: 0px 0 70px 0;
}
.page-content-list {
  display: inline-table;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
.page-content-list-item {
  display: inline-block;
  width: 420px;
  margin-right: 60px;
  margin-bottom: 136px;
}
.item-photo {
  display: block;
  border-style: none;
  width: 100%;
  height: 280px;
  margin-bottom: 32px;
}
.item-subtitle {
  color: #b4ad9e;
  text-transform: uppercase;
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 34px;
}
.item-title {
  color: #626262;
  font-family: "Playfair Display", serif;
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 42px;
}
.item-description {
  font-family: "Playfair Display", serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #626262;
}
.page-content-list-item:nth-child(2n) {
  margin-right: 0;
}
.page-button {
  font-size: 20px;
  line-height: 24px;
  color: #626262;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  background-color: #ffffff;
  width: 164px;
  height: 60px;
  cursor: pointer;
  border: 1px solid #626262;
  text-align: center;
  padding: 0;
  margin: 0 auto;
  display: block;
}