body {
  display: block;
  margin: 0px;
  background-color: #ffffff;
  }
.container {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  max-width: 900px;
}
.main-nav-menu {
  display: block;
  margin: 0px;
  padding: 76px 0px 100px 0px;
  box-sizing: border-box;
  }
nav {
  display: block;
  margin: 0px;
  padding: 5px 0px 25px 0px;
  }
.nav-list {
  text-align: center;
  vertical-align: middle;
 }
ul {
  display: block;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
.nav-list li {
  display: inline-block;
  margin-right: 100px;
  }
ul li {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: inline-block;
}
.nav-list a {
  color: #626262;
  text-transform: uppercase;
  font-family: "Playfair Display", serif;
  font-size: 14px;
  font-weight: 400;
  }
a {
  display: block;
  text-decoration: none;
}
a:hover {
  color: #03a9f4;
  font-weight:200;
  }
.page-content {
  display: block;
  margin: 0;
  padding: 20px 0 40px 0;
  }
.page-content-list {
  font-size: 0;
  padding-bottom: 20px;
}
ul {
  display: block;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
.page-content-list-item {
  display: inline-block;
  width: 420px;
  margin-right: 60px;
  margin-bottom: 130px;
}
ul li {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: inline-block;
}
.item-photo {
  width: 100%;
  height: 280px;
  margin-bottom: 28px;
}
img{
  display: block;
  border-style: none;
}
.item-subtitle {
  color: #b4ad9e;
  text-transform: uppercase;
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 26px;
}
h3, h2, p {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.item-title {
  color: #626262;
  font-family: "Playfair Display", serif;
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 36px;
}
h3, h2, p {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.item-description {
  font-family: "Playfair Display", serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #626262;
}
h3, h2, p {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.page-content-list-item:nth-child(2n) {
  margin-right: 0;
}
.page-button {
  font-size: 20px;
  line-height: 24px;
  color: #626262;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  background-color: #ffffff;
  width: 164px;
  height: 60px;
  cursor: pointer;
  border: 1px solid #626262;
  text-align: center;
  padding: 0;
  margin: 0 auto;
  display: block;
}
